<form [formGroup]="surveyForm" class="surveyMainForm">
  <mat-form-field class="titleForm">
    <input formControlName="surveyTitle" matInput placeholder="Wprowadź tytuł ankiety" maxlength="255">
  </mat-form-field>
  <br/>
  <mat-slide-toggle color="primary" formControlName="IsAnonymous" class="mb-10">Ankieta anonimowa</mat-slide-toggle>
  <br/>
  <mat-form-field class="titleForm">
    <textarea formControlName="surveyDescription" matInput placeholder="Wprowadź opis ankiety"></textarea>
  </mat-form-field> <br/>
  <div formArrayName="surveyQuestions" class="poll-options">
    <button mat-raised-button color="primary" (click)="onAddQuestion()">Dodaj pytanie</button>
    <ol class="list-style">
      <li class="listPoint" *ngFor="let question of surveyForm.get('surveyQuestions')['controls']; let i = index">
        <div [formGroup]="question" class="form-group">
          <div>
            <div><br/>
              <button class="deleteButton" (click)="onDeleteButton(i)" mat-icon-button="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-form-field class="full-width">
              <input formControlName="questionTitle" matInput placeholder="Wprowadz treść pytania" maxlength="50"
                     [required]="true">
            </mat-form-field>

            <mat-form-field class="typeSelect">
              <mat-select formControlName="questionType" (selectionChange)="onSelectQuestionType(selectedOption[i], i)"
                          matInput placeholder="Wybierz typ odpowiedzi" maxlength="50" [(value)]="selectedOption[i]">
                <mat-option *ngFor="let type of questionsTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div formGroupName="questionGroup" [ngSwitch]="selectedOption[i]">
              <div *ngSwitchCase="'Single choice'">
                <div *ngIf="question.controls.questionGroup.controls.options">
                  <ul class="question-type" formArrayName="options">
                    <li
                      *ngFor="let optionCtrl of question.controls.questionGroup.controls.options.controls let j = index">
                      <div [formGroupName]="j">
                        <mat-form-field class="optionForm">
                          <input formControlName="optionText" matInput placeholder="Opcja" maxlength="100">
                        </mat-form-field>
                        <button *ngIf="j>=2" (click)="removeOption(i,j)" mat-icon-button color="warn">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </li>
                    <li>
                      <button class="addOptionButt" mat-icon-button color="warn" (click)="addOption(i)">
                        <mat-icon>add</mat-icon>
                      </button>
                    </li>
                  </ul>
                  <div
                    *ngIf="question.controls.questionGroup.controls.showRemarksBox">
                    <mat-slide-toggle color="primary" formControlName="showRemarksBox">
                      Wyświetl pole uwag
                    </mat-slide-toggle>
                    <br/>
                    <mat-form-field class="full-width">
                      <textarea formControlName="remarks" style="resize: none;" enabled matInput placeholder="Uwagi:"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'Multi choice'">
                <div *ngIf="question.controls.questionGroup.controls.options">
                  <ul class="question-type" formArrayName="options">
                    <li
                      *ngFor="let optionCtrl of question.controls.questionGroup.controls.options.controls let j = index">
                      <div [formGroupName]="j">
                        <mat-form-field class="optionForm">
                          <input formControlName="optionText" matInput placeholder="Opcja" maxlength="100">
                        </mat-form-field>
                        <button *ngIf="j>=2" (click)="removeOption(i,j)" mat-icon-button color="warn">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </li>
                    <li>
                      <button class="addOptionButt" mat-icon-button color="warn" (click)="addOption(i)">
                        <mat-icon>add</mat-icon>
                      </button>
                    </li>
                  </ul>
                  <div
                    *ngIf="question.controls.questionGroup.controls.showRemarksBox">
                    <mat-slide-toggle color="primary" formControlName="showRemarksBox">
                      Wyświetl pole uwag
                    </mat-slide-toggle>
                    <br/>
                    <mat-form-field class="full-width">
                      <textarea formControlName="remarks" style="resize: none;" enabled matInput placeholder="Uwagi:"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </li>
    </ol>
    <div class="button-row">
      <button mat-raised-button color="primary" [disabled]="!surveyForm.valid" (click)="onSave()">Zapisz</button>
    </div>
  </div>
</form>
